Repository loay7alkhtib/PIKO-Caf-Pastry-Digital-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, vitest related --run

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix", "prettier --write", "vitest related --run"],
  "*.{json,md,css}": ["prettier --write"]
}

fix: add static file routes to vercel.json for proper menu.json serving
  vercel.json
Due: prettier --write

Fix image loading issues and enable database mode
  public/static/menu.json
  scripts/update-static-menu-with-images.js
  src/components/OptimizedImage.tsx
Due: eslint --fix, prettier --write, vitest related --run

Add .env.local to .gitignore for security
  .gitignore
Due: none

Fix Save Order button functionality
  src/components/admin/AdminCategories.tsx
  src/lib/supabase.ts
Due: eslint --fix, prettier --write, vitest related --run

chore: add static menu backup files and ensure clean deployment
  public/static/menu-backup-1761128780847.json
  public/static/menu-backup-1761128805496.json
  public/static/menu-backup-1761128827007.json
  public/static/menu-backup-1761128873597.json
Due: prettier --write

fix: improve Save Order button in admin categories with proper state management, error handling, and visual feedback
  src/components/admin/AdminCategories.tsx
Due: eslint --fix, prettier --write, vitest related --run

feat: add admin mode override to disable static mode for admin operations
  src/components/admin/AdminCategories.tsx
  src/lib/staticMenu.ts
Due: eslint --fix, prettier --write, vitest related --run

Fix linting issues: replace any types with proper TypeScript types and fix console statements
  src/components/admin/AdminCategories.tsx
  src/components/admin/AdminItemsSimple.tsx
  src/lib/supabase.ts
Due: eslint --fix, prettier --write, vitest related --run

Fix static mode issue: Add VITE_ADMIN_MODE=true and debug logging
  src/lib/staticMenu.ts
Due: eslint --fix, prettier --write, vitest related --run

Add comprehensive debugging for static mode detection
  src/lib/DataContext.tsx
  src/lib/staticMenu.ts
  src/lib/supabase.ts
Due: eslint --fix, prettier --write, vitest related --run

Add deployment environment variables setup guide
  DEPLOYMENT_ENV_SETUP.md
Due: prettier --write

Fix critical TypeScript errors in admin components
  QUICK_SETUP.md
  src/components/CategoryHeader.tsx
  src/components/admin/AdminCategories.tsx
Due: eslint --fix, prettier --write, vitest related --run

Fix items creation functionality and resolve linting issues
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/lib/supabase.ts
  src/pages/CategoryMenu.tsx
Due: eslint --fix, prettier --write, vitest related --run
